body {
	padding-top: 70px;
	padding-bottom: 30px;
}

#main {
	text-align: center;
	width: 40%;
	margin: 0 auto;
}

.progress {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-weight: bold;
}

#good {
	color: green;
}

#bad {
	color: red;
}

#total {
	color: blue;
}